/*
 * Colors
 */
/*
 * Fonts
 */
/*
 * Pixels
 */
body {
  background: #8888ff;
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 300; }

ul {
  list-style: none;
  padding: 0px; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 300;
  font-size: 1.2em;
  margin: 0px; }

.table {
  border-radius: 5px;
  border: 1px solid #ff9d40;
  background-color: #ff9d40;
  padding: 5px;
  margin: 5px; }

.player {
  background-color: #ff9d40;
  margin: 5px;
  min-width: 200px;
  min-height: 200px;
  border-radius: 5px;
  float: left;
  padding: 5px; }
  .player h1 {
    font-size: 2em;
    font-weight: 200; }
