
<h1>{{message}}</h1>
<form name="addTableForm"><br/>
  <div class="row">
    <div class="small-10 large-8 columns small-centered large-centered">
      <div class="row collapse">
        <div class="small-4 large-2 columns"><span class="prefix">MaxPlayers</span></div>
        <div class="small-8 large-10 columns">
          <input type="number" value="3" min="3" max="8" data-ng-model="table.maxPlayers" required="required"/>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small large-offset-5 small-offset-5"><a href="#" type="submit" ng-disabled="addTableForm.$invalid" ng-click="addTable(table.maxPlayers)" class="button">Add Table</a></div>
  </div>
</form>