.addTableView
    h1 {{message}}
    form(name="tableForm")
        p MaxPlayers
        // TODO: Deactivate button until players is valid
        input(type='number', value="3", min="3", max="8", data-ng-model="table.maxPlayers", required)
        input(type='submit', ng-click="addTable(table.maxPlayers)", ng-disabled="tableForm.$invalid", placeholder='Max. Players')