
<div class="overview">
  <h1>Arschloch all Tables</h1><a href="/add/table">+ Add Table</a><br/><a href="/add/player">+ Add Player</a>
  <!-- TODO: Hallo durch Del ersetzen-->
  <ul>
    <li data-ng-repeat="table in tables" data-ng-mouseenter="show.del=true" ng-mouseleave="show.del=false" class="table">
      <p><a href="/table/{{table._id}}">{{table._id}}</a><a href="" ng-click="deleteTable()" ng-show="show.del" class="ng-hide TableDel">delete Table</a></p>
    </li>
  </ul>
  <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
    <li data-ng-repeat="player in players" data-ng-mouseenter="show.del=true" ng-mouseleave="show.del=false" class="player">
      <div class="panel">
        <h3>{{player.playerName}}</h3>
        <p>{{player._id}}</p><a href="" ng-show="show.del" class="ng-hide PlayerDel">hallo</a>
      </div>
    </li>
  </ul>
</div>