.overview
    h1 Arschloch all Tables
    a.button(href='/add/table') + Add Table

    div.panel(data-ng-repeat='table in tables', data-ng-mouseenter='show.join=true', ng-mouseleave='show.join=false')
        p
            {{table._id}}
            a.ng-hide.right(href="/table/{{table._id}}", ng-show="show.join") Join Table