html(data-ng-app="arschloch")
head
    title Arschloch for the Browser and hopfully online
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="http://fonts.googleapis.com/css?family=Alegreya+Sans:100,300,400&subset=latin-ext", rel="stylesheet", type="text/css")
    link(rel="stylesheet", type="text/css", href="/stylesheets/app.css")
    script(type="text/javascript", src="/bower_components/modernizr/modernizr.js")
    script(type="text/javascript", src="/bower_components/modernizr/modernizr.js")
    script(type="text/javascript", src="/socket.io/socket.io.js")

body
    noscript
        h1 ohne Javascript geht hier nischt

    nav.top-bar(data-topbar='data-topbar')
        ul.title-area
            li.name
                h1
                    a(href="/") Home
        // Right Nav Section
        section.top-bar-section
            ul.right
                li
                    a(href="/profile") My Profile

    .small-12.large-11.small-centered.large-centered.columns(data-ng-view="")

    // Loading Angular

    script(type="text/javascript", src="/bower_components/angular/angular.min.js")
    script(type="text/javascript", src="/bower_components/jquery/jquery.js")
    script(type="text/javascript", src="/bower_components/foundation/js/foundation.min.js")
    script(type="text/javascript", src="/js/controllers.js")
    script(type="text/javascript", src="/js/factories.js")
    script(type="text/javascript", src="/bower_components/angular-route/angular-route.min.js")
    script(type="text/javascript", src="/bower_components/angular-cookies/angular-cookies.min.js")

    // Loading own JS

    script
        $(document).foundation();
        var socket = io.connect('http://localhost:3003/');
        socket.on('Hello', function (data) {
            console.log(data);
        });
        socket.on('tableEvent', function (data) {
            console.log(data);
        });
        socket.on('overviewEvent', function (data) {
            console.log(data);
        });
    script(type="text/javascript", src="/js/app.js")